@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    outline: none; border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: #2B2425;
    border-radius: 5rem;
}

section{
    padding: 2rem 7%;
}

.heading{
    font-size: 4rem;
    color: #222;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #ffffff;
    border: .1rem solid #ffffff;
    background: none;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    color: #fff;
    background: #212738;
}


/* headertop */

.header{
    text-transform: capitalize;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 7%;
    border-bottom: .1rem solid #eee;
    position: relative;
}

#menu {
    font-size: 2.5rem;
    color: #000000;
    border: .1rem solid #000000;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    display: none;
}

.header-top .logo {
    color: #000000;
    font-size: 3rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.logo-icon {
    margin-bottom: -10px;
    height: auto;
}

/* header-main */

.header-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7%;
    background: #fff;
    position: relative;
}

.header-main.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header-main .navbar a{
    text-transform: capitalize;
    margin: 0 1rem;
    font-size: 2rem;
    color: #222;
}

.header-main .navbar a:hover{
    color: #a9a9a9;
}

/* end */

/* home */

.home{
    min-height: 65vh;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background: url(images/home.png) no-repeat;
    background-size: cover !important;
    background-position: center !important;
}

.home .content{
    max-width: 55rem;
}

.home .content h3{
    font-size: 6rem;
    color: #ffffff;
}

.home .content p{
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    padding: 1rem 0;
}

/* end */

/* banner */

.banner{
    text-transform: capitalize;
}

.banner-text{
    font-size: 4rem;
    color: #222;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.banner-container{
    display: grid;
    padding: 2rem 3%;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.banner-container .banner{
    height: 45rem;
    overflow: hidden;
    position: relative;
    border-radius: 5%;
}

.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner:hover img{
    transform: scale(1.2);
}

.banner-container .banner .content{
    position: absolute;
    top: 25%;
    left: 3rem;
    transform: translateY(-50%);
}

.banner-container .banner .content span{
    font-size: 1.7rem;
    color: #ffffff;
}

.banner-container .banner .content h3{
    color: #ffffff;
    font-size: 2.2rem;
    padding-top: .5rem;
}

/* end */

/* best-sellers */

.best-sellers {
    margin-top: 5rem;
    width: 100%;
    font-size: 4rem;
    color: #222;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.best-sellers .best-sellers-slider {
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 20px
}

.best-sellers .best-sellers-slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.best-sellers .best-sellers-slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-sellers .best-sellers-slider .slide .user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    border-radius: .5rem;
}

.best-sellers .best-sellers-slider .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: white;
    border: 1px solid black;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: black;
    border: 1px solid black;
}

/* end */

/* product */

.product {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.product .box-container .box {
    background: #bababa; /* bg product */
    padding: 3rem 2rem;
    text-align: center;
    outline: .2rem solid transparent;
    transition: .25s ease;
    border-radius: 10px;
}

.product .box-container .box:is(:hover, :focus-within) {
    outline-color: #000000;
}

.product .box-container .box .cardbanner {
    position: relative;
    margin-block-end: 2rem;
}

.product .box-container .box .cardbanner img {
    transition: .25s ease;
}

.product .box-container .box:is(:hover, :focus-within) .cardbanner img {
    opacity: 0.6;
}

.product .box-container .box .btn-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product .box-container .box .card-content .description {
    margin-bottom: .8rem;
    color: black;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product .box-container .box .card-content h3 {
    color: #363958;
    font-size: 1.8rem;
    font-weight: 500;
    font-weight: 600;
}

.product .box-container .box .price-wrapper {
    font-size: 1.5rem;
    margin: .8rem 0;
}

.product .box-container .box .price-wrapper .del {
    color: #777;
    text-decoration: line-through;
}

.product .box-container .box .price-wrapper .price {
    color: #000000;
    margin-inline-start: .4rem;
}

.product .box-container .box .btn {
    padding: .9rem 1.6rem;
}


/* end */

/* about */

.about .heading{
    margin-bottom: -50px;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 50rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: #000000;
}

.about .row .content p{
    font-size: 1.6rem;
    margin: .5rem 0;
    color: #777;
    line-height: 2;
}

/* end */

/* footer */

.footer{
    background: #2B2425;
    padding: 2rem 0;
    text-align: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    justify-content: center;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #ffffff;
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #ffffff;
    padding: 1rem 0;
}

.footer .box-container .box .share{
    margin-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border: .1rem solid #eeeeee;
    font-size: 1.7rem;
    border-radius: 30%;
    color: #eeeeee;
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: #999999;
    color: #fff;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
    padding: 1rem 0;
}

.footer .box-container .box .links:hover{
    color: #aaaaaa;
}


.footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    color: #ffffff;
    border-top: .1rem solid #ffffff;
}

/* end */

/* quotes */

.quotes-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #333; 
    border-radius: 1rem;
    margin: 40px auto;
    max-width: 650px;
    transition: transform 0.3s ease;
    color: white; 
}

.quote-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    color: white; 
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-content {
    flex: 1;
    text-align: left;
    padding-right: 1.5rem;
}

.quote-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #f8c471;
}

.quote-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 1.4;
}

.quote-author {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ccc;
    margin-top: 1rem;
    text-align: right;
    font-style: italic;
}

.quote-image {
    width: 120px;
    height: auto;
    border-radius: 1rem;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.quote-image:hover {
    transform: rotate(-5deg) scale(1.1);
}

/* end */





/* media query */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header-top{
        padding: 1.4rem;
    }
    .header-main{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu{
        display: block;
    }
    .header-main{
        padding-left: 10px;
    }
    .header-main .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,0.3);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header-main .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header-main .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2rem;
    }

} 


@media (max-width:450px){
    html{
        font-size: 50%;
    }
}